.noticeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}
.searchBox{
    width : 200px;
    height : 30px;
    border : 1px solid #BBBBBB;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px;

    margin-bottom: 5px;
}
.searchBox img {
    height : 80%;
}
.searchBox input{
    height : 100%;
    border : none;
    font-weight: bold;
    font-size: 11px;
}
.titleImg{
    height: 50px;
    margin-right: 39px;
}
.nextContentsBox{
    padding : 10px 100px 10px 100px;
    display : flex;   
}
.nextContentsBox img{
    width : 16px;
}
.subTitleBox{
    padding : 10px 100px 10px 100px
}
.subTitleBox img{
    height : 24px;
    margin : 1vw;
}
.lineImg{
    padding : 0px 100px 0px 100px;
    height : 4px;
}
.contentTitleBox{
    font-size: 24px;
    font-weight: bold;
    padding : 0px 100px 0px 100px;
}
.contentDateBox{
    font-size : 16px;
    font-weight: bold;
    padding : 0px 100px 0px 100px;
    text-align: right;
}
.contentContentBox{
    min-height: 360px;
    font-size : 16px;
    padding : 20px 100px 20px 100px;
}
.pageListBox{
    display: flex;
    justify-content: center;
    padding : 10px 100px 0px 100px;
}
.pageButton {
    font-size: 16px;
    padding : 0px 4px 0px 4px;
    color : #BBBBBB;
}
.pageButton:hover{
    color : black;
}
.betweenBox{
    display: flex;
    justify-content: center;
    padding : 50px 100px 10px 100px;
}

.betweenBox2{

    padding : 50px 100px 0px 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;

    align-items: flex-end;
}

.leftBox{
    display: flex;
    justify-content: space-between;
    padding : 100px 100px 10px 100px;
}
.insertButtonBox{
    display: flex;
    justify-content: right;
    padding : 10px 100px 10px 100px;
}
.insertButton{
    width : 100px;
}

.btnGroup{
    display: flex;
}

.btnGroup img {
    width: 100px;
    padding: 0;
    margin: 0px
}

.memberCount{
    padding: 15px 100px 15px 100px;
    font-size: 16px;
}

.memberList{
    min-height: 800px;
    background-image: url("../images/member-manage-back.png");
}

.memberTable {
    border-spacing: 30px;
    width: 100%;
    text-align-last: center;
}

.memberTable tr{
    font-size: 12px;
    padding: 100px;
}

th{
  font-size : 18px;  
  text-align: left;
  border-bottom: #000000 solid 2px;
}

.blockBtn{
    font-size: 16px;
    margin-left: 10px;
    border: #000000 solid 1px;
    align-items: center;
    min-width: 80px;
}

.searchImg{
    width: 70%;
}

.communityTableHover:hover{
    background-color: #EEEEEE;
}

.btnGroup button{
    padding: 0;
}

.memberListContainer{
    padding: 0px 100px 0px 100px;

}