@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 600px){

    .title{
        margin: 30px 0px 0px 30px !important;
    }

    .profile2{
        display: block !important;
        background-color: white;
        background-image: none !important; 
        border: 1px solid;
        border-radius: 10px;
        height:auto !important;
        padding: 0px 20px; 
    }
    .profileImgBookFrame{
        margin: 20px 0px 0px 0px !important;
    }
    .profileIntroText2{
        width: 50vw !important;
    }
    .profileInfo2{
        width: auto !important;
        margin: 0px 20px 0px 20px !important;
    }

    .taleListDiv{
        margin: 0px !important;
        padding: 0px !important;
        text-align: unset !important;
    }

    .lineImg{
        width: 70vw !important;
        height: 1px;
    }

    .lineDiv{
        padding: 0px 0px 30px 0px !important;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .taleList{
        padding: 0px !important;
    }
    .taleImg{
        padding: 15px !important;
        width: 20vw !important;
        margin-top: 40px;
    }
    .taleTitle{
        font-size: 12px !important;
    }
    .mypageBtn{
        width: 18vw !important;
    }

    .mypageText, .mypageText2{
        font-size: 16px !important;
    }
    .inputBox input[type="text"], input[type="password"] {
        font-size: 16px !important;
        height: 20px !important;
        width: 250px !important;
    }
    .passwordBox input[type="password"] {
        font-size: 16px !important;
        height: 20px !important;
        width: 160px !important;
    }
    .authBtn img{
        height: 40px !important;
    }

    .submitBtn img{
        width: 280px !important;
    }

    .unregist button{
        font-size: 12px !important;
    }

    textarea{
        width: 40vw !important;
        height: 50px !important;
    }

    .profileName2{
        font-size: 20px !important;
    }
    .profileTale2{
        font-size: 10px !important;
    }
}

.selectBtn img{
    height: 100px;
    margin-bottom: 30px;
}

body{
       font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;

}

.mypageText, .mypageText2{
       font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
    font-size: 20px;
    width: 300px;
    margin-left: 30px;
    text-align: left;

}

.mypageText2{
    margin-top: 50px
}

.changeForm{
    text-align: -webkit-center;
}

.inputBox input[type="text"], input[type="password"]  {
       font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
    font-size: 20px;
    width: 300px;
    height: 30px;
    margin : 5px;
    border : 1px solid #888888;
    border-radius: 30px;
    padding: 10px 10px 10px 20px;
}

textarea {
    border-radius: 0px;
    padding: 0px;
    margin:0px
}

.authBtn img{
    height: 52px;
}
.emailBox, .passwordBox{
    display: flex;
    justify-content: center;
}

.passwordBox input[type="password"]{
    width: 200px;
}

.submitBtn img{
    width: 332px;
    margin: 50px 0px 20px 0px; 
}

.title{
    margin: 100px 0px 0px 100px;
    display: flex;
}

.title img{
    height: 32px;
}

.lineImg{
    width: 100%;
}

.lineDiv{
    padding: 10px 100px 100px 100px;
}

.ChangeSection{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unregist{
    margin-bottom: 100px;
}

.unregist button{
    text-decoration: underline;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 900;
    font-size: 16px;
    width: 300px;
    text-align: center;
    color: black;
}

.changeInfo{
    font-size: large;
}

.profileImg{
    width: 200px;
    height: 200px;
    border: #000000 solid 2px;
    border-radius: 100%;
    margin-top: 40px;
}

.profileImg2{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 20px;

}

.profileImgFrame2{
    width: 150px;
    height: 150px;
    margin: 30px 10px 0px 15px;

    background-image: url("../images/profile-img-frame.png");
    background-repeat: round;

    border-radius: 20px;
}

.profile{
    display: flex;
    margin-bottom: 100px;
}


.profile2{
    background-image: url("../images/white-back.png");
    display: flex;
    background-repeat: round;
    height: 400px;
}

.profileInfo2{
    background-repeat: round;
    margin: 21px 20px 0px 20px;
}

.profileInfo span {
    text-align: left;
}

.startLeft{
    text-align: left;
    margin-left: 5px;
}


.profileInfo div, .profileInfo2 div {
    justify-content: center;
}

.profileName{
    font-size: 40px;
}

.profileName span {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.profileTale, .profileIntro{
    font-size : 18px
}

.profileTale span, .profileIntro span {
    font-weight: 300;
}

.profileTale2, .profileIntro2{
    font-size : 16px
}

.profileTale2 span, .profileIntro2 span {
    font-weight: 300;
}
.profileName2 span{
    margin-right: 15px;
}


.mypageBtn{
    margin-top: 10px;
    width: 130px;
}


.profileComponent{
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    background-image: url("../images//profile-frame.png");
    background-repeat: round;
    margin-top: -200px;
}

.ProfileSection{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    background: white;
    border: 1px solid;
    padding: 30px;
    border-radius: 30px;

}

.ProfileSection2{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 30px;
}

.xBtn{
    text-align:right;
}

.profileIntroText{
    font-size: 16px;
    font-weight: 100;
}


.profileIntroText2{

    background-image: url("../images/profile-intro.png");
    font-size: 12px;
    font-weight: 100;

    background-repeat: round;
    font-weight: 100;
    width: 300px;
    padding-top: 10px;

}

.profileImgBookFrame{
    background-image: url("../images/profile-book.png");
    background-repeat: round;
    height: 250px;
    width: 200px;
    margin: 45px 0px 0px 50px;
}

.profileBtnGroup{ 
    margin: 0px 40px 15px 40px;
    display: flex;
    justify-content: space-evenly;
}

.profileBtn{
    height: 55px;
}

.profileName2{
    font-size: 23px;
}

.profileXBtn{
    position: absolute;
    left: 90%;
    font-size: 35px;
}

.profileIntroText2 textarea{
    background: none;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    width: 250px;
    padding-right: 10px;
    margin:0px;
    margin-top: 3px;
}

.profileGroup{
    display: flex;
    align-items: flex-end;
    margin: 20px 0px 10px 0px;
}

