.noticeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
    /* background-image : url('../images/background.png'); */
    background-repeat: repeat-y;
    background-size: 100%;
}
.searchBox{
    width : 250px;
    height : 30px;
    border : 1px solid #BBBBBB;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px;
}
.searchBox img {
    height : 80%;
}
.searchBox input{
    height : 100%;
    border : none;
    font-weight: bold;
}
.titleImg{
    height : 32px;
    margin : 1vw;
}
.nextContentsBox{
    padding : 10px 100px 10px 100px;
    display : flex;   
}
.nextContentsBox img{
    width : 16px;
}
.subTitleBox{
    padding : 20px 100px 10px 0px
}
.subTitleBox img{
    height : 24px;
    margin : 1vw;
}
.lineImg{
    height : 1.5px;
    width: 100%;
    opacity: 40%;
}
.contentTitleBox{
    font-size: 24px;
    font-weight: bold;
    padding : 0px 100px 0px 130px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.contentTitle{
    font-size: 28px;
    padding-left: 10px;
    padding-top : 10px;
    padding-bottom : 10px;
    background-color: #fdf1e4;
}
.titleProfile{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0px 0px 12px;
}
.titleProfileDiv{
    font-size: 5px;
}

.contentDateBox{
    font-size : 16px;
    font-weight: bold;
    padding : 0px 100px 0px 100px;
    text-align: right;
}
.contentContentBox{
    min-height: 360px;
    font-size : 16px;
    padding : 40px 80px 20px 12px;
}
.pageListBox{
    display: flex;
    justify-content: center;
    padding : 10px 100px 0px 100px;
}
.pageButton {
    font-size: 16px;
    padding : 0px 4px 0px 4px;
    color : #BBBBBB;
}
.pageButton:hover{
    color : black;
}
.betweenBox{
    display: flex;
    justify-content: space-between;
    padding-left : 38%;
    padding-right : 40%;
    padding-top: 40px;
    padding-bottom: 60px;
}
.leftBox{
    display: flex;
    justify-content: space-between;
    padding : 100px 100px 10px 100px;
}
.insertButtonBox{
    display: flex;
    justify-content: right;
    padding : 10px 100px 10px 100px;
}
.insertButton{
    width : 100px;
}
.commentTitle{
    font-size: 25px;
    font-weight: bold;
}
.commentBox{
    padding : 10px 100px 10px 100px;
    font-weight: bold;
}
.commentInputBox{
    display: flex;
    padding : 50px 0px 30px 0px;
}
.commentInputBox input{
    width : 80%;
    height : 30px;
    font-size: 16px;
}
.commentInputBox div{
    padding : 10px;
    width : 10%;
    font-size: 16px;
}
.commentInputBox button{
    width : 10%;
    background-color : black;
    color : white;
}
.commentsBox{
    display: flex;
    padding : 10px;
    border-bottom : 1px solid #BBBBBB;
}
.commentBox .id{
    padding : 10px;
    width : 15%;
}
.commentBox .contents{
    padding : 10px;
    width : 75%;
}
.commentBox .createDate{
    padding : 10px;
    width : 15%;
}


.forumTitle{
       font-family: 'NanumSquareNeo-Variable';
    font-weight: 900;
    font-size: 30px;
    height: 50px;
    padding: 0;
}
.contentTitleBox .contentNickname{
    font-size: 16px;
    
}

.profileImg{
    width: 40px;
    height: 40px;
    border: #444444 solid 1px;
    border-radius: 100%;
    margin-right : 10px;
}
.board{
    background-image : url('../images/board5.png');
    background-repeat: round;
    width : 94%;
    margin : 0px auto 10px auto;
    
}