@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.noticeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}
.searchBox{
    width : 250px;
    height : 30px;
    border : 1px solid #BBBBBB;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px;
}
.searchBox img {
    height : 80%;
}
.searchBox input{
    height : 100%;
    border : none;
    font-weight: bold;
}
.titleImg{
    height : 32px;
    margin : 1vw;
}
.subTitleImg{
    width : 100px;
    height : 16px;
    padding-left : 100px;
    margin : 1vw;
}
.lineImg{
    padding : 0px 100px 0px 100px;
    height : 4px;
}
.tableBox{
    height : 560px;
    padding : 16px 0px 0px 0px
}
.communityTable{
    width : 100%;
    font-weight : bold;
    padding-top : 15px;
    padding: 0px 100px 0px 100px;
    font-size : 14px;
}
.communityTable tr:hover{
    background-color: #EEEEEE;
}
.communityTable td {
    align-items: center;
    padding : auto;
    padding : 0px 0px 20px 20px;
}
.pageListBox{
    display: flex;
    justify-content: center;
    padding : 10px 100px 0px 100px;
}
.pageButton {
    font-size: 16px;
    padding : 0px 4px 0px 4px;
    color : #BBBBBB;
}
.pageButton:hover{
    color : black;
}
.betweenBox{
    display: flex;
    justify-content: space-between;
    padding : 100px 100px 10px 100px;
}
.leftBox{
    display: flex;
    justify-content: space-between;
    padding : 100px 100px 10px 100px;
}
.insertButtonBox{
    display: flex;
    justify-content: right;
    padding : 10px 100px 10px 100px;
}
.insertButton{
    width : 100px;
}

.forumTitle{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin : 5px;
    padding: 10px 20px 10px 10px;
}

.buttonGroup{
    display: flex;;
    margin: 0px 0px 10px 100px ;
    justify-content: space-between;
}

.categoryBtn{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #7f561f;
    width: 100px;
    margin : 5px;
    border : none;
    border-radius: 30px;
    padding: 10px;
    background: #f4ad58;
}