.noticeBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleImg{
    width : 8vw;
    padding-left : 100px;
    margin : 1vw;
}

.lineImg{
    width : 100%;
}

.tableBox{
    height : 70vh;
}

.communityTable{
    width : 100%;
    font-weight : bold;
    padding-top : 15px;
    padding-left : 100px;
}

.communityTable tr:hover{
    background-color: #EEEEEE;
}

.communityTable td {
    padding : 0px 0px 20px 20px;
}

.pageListBox{
    display: flex;
    justify-content: center;
    padding : 1vh;
}

.pageButton {
    font-size: 18px;
    padding : 5px;
    color : #BBBBBB;
}
.pageButton:hover{
    color : black;
}