
.headerBox{
    position:fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    width : 100vw;
}
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0px;
    z-index: 1;
}

.headerImg{
    height: 4vh;
}

.headerImgMenu{
    height: 3.3vh;
}

.logoImg{
    height : 80px;
}

.btn{
    text-decoration: none;
    border: none;
    background: none;
    z-index: 100;
    padding: 0; 
}