
.headerDiv {
    background: #fd5f5f; /* 배너가 생기면 지워질 예정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px;
    z-index: 1;
}

img{
    height: 30px;
    z-index: 1;
}

.btn{
    text-decoration: none;
    border: none;
    background: none;
    z-index: 100;
}