
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px;
    z-index: 1;
    align-items: baseline;
}

.headerImg{
    height: 4vh;
}

.headerImgMenu{
    height: 25px;
}

.logoImg{
    height : 80px;
}

.btn{
    text-decoration: none;
    border: none;
    background: none;
    z-index: 100;
    margin-top: 20px;
}