.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  left: calc(50% - 1068px / 2);

  position: fixed;
  top: 180px;

  background-color: #ffffff;
  border-top: none;

  z-index: 2;
}

.hiddenLayout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1064px;
  height: 240px;

  border: #7332c3 solid 2px;
  border-top: none;

  position: relative;
  background-color: cadetblue;
}

.rowBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1064px;
  height: 240px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1064px;
  height: 60px;

  background-color: #ebe9f2;
}

.useMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 116.22px;
  height: 58px;

  margin: 1px;

  font-size: 16px;
  line-height: 16px;

  background-color: #ebe9f2;
  color: #7332c3;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 116.22px;
  height: 58px;

  margin: 1px;

  font-size: 16px;
  line-height: 16px;

  background-color: #ebe9f2;
  color: #7332c3;
}

.menu:not(:div) {
  cursor: pointer;
}

.menu:first-child {
  background-color: #7332c3;
  border: 2px #7332c3 solid;
  margin: -1px;
  color: #ffffff;
}
/* .menu:not(.menu:first-child)  */
.rowBox:hover > div > .row:not(:hover) > .menu {
  color: #7332c366;
}

.rowBox:hover > div > .row:not(:hover) > .menu:first-child {
  color: #ffffff;
}

.row:hover > .menu:first-child {
  background-color: #ffffff;
  color: #7332c3;
}

.cancelBox {
  display: flex;
  justify-content: flex-end;
  position: absolute;

  width: 116.22px;
  height: 58px;
}

.cancelBox > div {
  background-image: url("../images/cancel.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 23px;
  height: 23px;
}
