.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}
.mainBox{
  width : 100vw;
}
.banner{
    width : 100vw;
    height : 100vh;
    margin : 0px;
    padding : 0px;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
}
.banner2{
  background-repeat:round;
  /* background-size: 100%; */
  width : 100vw;
  height : 680vh;
}
.banner div{
  margin: auto;
}
.banner img{
  margin: auto;
}
.sliderLeftButton:hover,.sliderRightButton:hover,.downloadButton:hover,.downloadButtonLeft:hover,.downloadButtonRight:hover{
  opacity: 0.7;
}
.sliderLeftButton{
  width : 4vw;
  position: absolute;
  top: 55vh;
  left: 4vw;
  z-index: 1;
}
.sliderRightButton{
  width : 4vw;
  position: absolute;
  top: 55vh;
  left : 88vw;
  z-index: 1;
}
.downloadButtonCenter{
  width : 10vw;
}
.bannerTextImgLeft{
  width : 25vw;
  position: absolute;
  top : 35vh;
  left : 20vw;
}
.downloadButtonLeft{
  width : 10vw;
  position: absolute;
  top : 68vh;
  left : 20vw;
}
.bannerTextImgRight{
  width : 40vw;
  position: absolute;
  top : 31vh;
  right : 20vw;
}
.downloadButtonRight{
  width : 10vw;
  position: absolute;
  top : 68vh;
  right : 20vw;
}
.logoImg{
  width : 25vw;
  padding-bottom: 6%;
}
.bannerImgBox{
  position : relative;
  margin : 0px;
  width : 100%;
  height : 100%;
}