.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}
.mainBox{
  width : 100vw;
}
.banner{
    width : 100vw;
    height : 100vh;
    margin : 0px;
    padding : 0px;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
}
.banner2{
  background-repeat:round;
  /* background-size: 100%; */
  width : 100vw;
  height : 680vh;
}
.banner div{
  margin: auto;
}
.banner img{
  margin: auto;
}
.sliderLeftButton:hover,.sliderRightButton:hover,.downloadButton:hover{
  opacity: 0.7;
}
.sliderLeftButton{
  width : 4vw;
  position: absolute;
  top: 50vh;
  left: 4vw;
  z-index: 1;
}
.sliderRightButton{
  width : 4vw;
  position: absolute;
  top: 50vh;
  left : 88vw;
  z-index: 1;
}

.logoImg{
  width : 25vw;
  padding-bottom: 2%;
}
.bannerTextImg{
  width : 25vw;
  padding-bottom: 1vh;
}
.downloadButton{
  width : 7vw;
}