.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}
.mainBox{
  width : 100vw;
  height : 90vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.banner{
    width : 100vw;
    height : 100vh;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
}
.banner div{
  margin: auto;
}

.banner img{
  margin: auto;
}
.sliderLeftButton{
  width : 4%;
  height : 6%;
  position: fixed;
  top: 50%;
  left: 5%;
  z-index: 1;
}
.sliderRightButton{
  width : 4%;
  height : 6%;
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 1;
}

.logoImg{
  width : 20%;
  padding-bottom: 2%;
}
.bannerTextImg{
  width : 25%;
  padding-bottom: 2%;
}
.downloadButton{
  width : 7%;
}