.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}
.mainBox{
  width : 100vw;
}
.banner{
    width : 100vw;
    /* height : 100vh; */
    height : 100vh;
    margin : 0px;
    padding : 0px;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
}
.banner2{
  background-repeat:round;
  /* background-size: 100%; */
  width : 100vw;
  height : 550vh;
}
.banner div{
  margin: auto;
}
.banner img{
  margin: auto;
}
.sliderLeftButton:hover,.sliderRightButton:hover,.downloadButton:hover,.downloadButtonLeft:hover,.downloadButtonRight:hover{
  opacity: 0.7;
}
.sliderLeftButton{
  width : 4vw;
  position: absolute;
  top: 55vh;
  left: 4vw;
  z-index: 1;
}
.sliderRightButton{
  width : 4vw;
  position: absolute;
  top: 55vh;
  left : 88vw;
  z-index: 1;
}
.downloadButtonCenter{
  width : 10vw;
}
.bannerTextImgLeft{
  width : 25vw;
  position: absolute;
  top : 35vh;
  left : 20vw;
}
.downloadButtonLeft{
  width : 10vw;
  position: absolute;
  top : 68vh;
  left : 20vw;
}
.bannerTextImgRight{
  width : 40vw;
  position: absolute;
  top : 31vh;
  right : 20vw;
}
.downloadButtonRight{
  width : 10vw;
  position: absolute;
  top : 68vh;
  right : 20vw;
}
.logoImg{
  width : 25vw;
  padding-bottom: 6%;
  
}
.bannerImgBox{
  position : relative;
  margin : 0px;
  width : 100%;
  height : 100%;
}

/* 스크롤  */
.scroll2 {
  padding-top: 60px;
  bottom: 4.5vh;
  left: 50%;
  position: absolute;
}
.scroll {
  padding-top: 60px;
  bottom: 3vh;
  left: 50%;
  position: absolute;
}
.scroll span,.scroll2 span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}    
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@media (max-width: 600px) {
  .banner{
    width : 100vw;
    /* height : 100vh; */
    height : 50vh;
    margin : 0px;
    padding : 0px;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
  }
.banner2{
  background-repeat:round;
  /* background-size: 100%; */
  width : 100vw;
  height : 200vh;
}

/* 스크롤  */
.scroll2 {
  padding-top: 60px;
  top: 40.5vh;
  left: 50%;
  position: absolute;
}
.scroll {
  padding-top: 60px;
  top: 39.5vh;
  left: 50%;
  position: absolute;
}
.scroll span,.scroll2 span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}    
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
}