.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}

.mainBox{
  width : 100vw;
  height : 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.banner{
    width : 100vw;
    height : 100vh;
    background-repeat: round;
    display : flex;
    justify-content: space-between;
}

.banner div,img{
  margin: auto;
}

.sliderLeftButton{
  width : 50px;
  height : 50px;
  position: fixed;
  top: 50%;
  left: 5%;
  z-index: 1;
}
.sliderRightButton{
  width : 50px;
  height : 50px;
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 1;
}

.logoImg{
  width : 500px;
  padding: 30px;
}
.bannerTextImg{
  width : 500px;
  padding: 30px;
}

.downloadButton{
  width : 100px;
}