.layout {
  /* Navbar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.91px 0px 7.92px 0px;
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #7332c3;

  height: 40.2px;

  position: sticky;
  top: 120px;

  background-color: #ffffff;

  z-index: 2;
}

.line1 {
  /* Line 9 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame1 {
  /* Frame 8 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  width: 102px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.button1 {
  /* 보드게임 */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line2 {
  /* Line 2 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame2 {
  /* Frame 9 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 88px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button2 {
  /* BEST */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line3 {
  /* Line 3 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

.frame3 {
  /* Frame 5 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 87px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
}

.button3 {
  /* 이벤트 */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line4 {
  /* Line 4 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 6;
  flex-grow: 0;
}

.frame4 {
  /* Frame 6 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 102px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 7;
  flex-grow: 0;
}

.button4 {
  /* 이용안내 */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line5 {
  /* Line 8 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 8;
  flex-grow: 0;
}

.frame5 {
  /* Frame 7 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 102px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 9;
  flex-grow: 0;
}

.button5 {
  /* 공지사항 */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line6 {
  /* Line 6 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 10;
  flex-grow: 0;
}

.frame6 {
  /* Frame 10 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 77px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 11;
  flex-grow: 0;
}

.button6 {
  /* FAQ */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line7 {
  /* Line 7 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 12;
  flex-grow: 0;
}

.frame7 {
  /* Frame 11 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  width: 90px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 13;
  flex-grow: 0;
}

.button7 {
  /* 1:1문의 */
  font-family: "gmarket";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 검은색 */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line8 {
  /* Line 10 */

  width: 20px;
  height: 0px;

  /* 검은색 */
  border: 1px solid #000000;
  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 14;
  flex-grow: 0;
}

.hidden {
  /* Navbar_Boardgame */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1064px;
  height: 240px;
  left: 428px;
  top: 196px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover > div {
  color: #7332c3;
}
